[Desktop Entry]
Type=Application
Name=Chemuson
Comment=Editor molecular 2D libre
Exec=chemuson
Icon=io.github.PJGV333.Chemuson
Terminal=false
Categories=Education;Science;Chemistry;
Keywords=chemistry;molecule;editor;smiles;molfile;
